<!-- 포스팅들이 정사각형 그리드로 나오게 만드는 틀이예요! -->

<article class="style1">
    <span class="image">
	    <img src="/assets/pic01.jpg" alt="" />
    </span>
  	<a href="/posts/<%= post.id %>">
 		<h2><%= post.title %></h2>
     	<div class="content">
  			<p><%= post.content %></p>
	  	</div>
	</a>
</article>