<div id="wrapper">
  <div class="inner">


  <h2 style="text-align: center;">&laquo; Editing Post &raquo;</h2>
  
  <%= render 'form' %>
  
  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %> |

</div>
</div>