<div id="wrapper">
    <div class="inner">
        
        <h2 style="text-align: center;">&laquo; New 09 &raquo;</h2>
        <br>
        
        <%= render 'form' %>
        
        <!--<div class="actions">-->
        <!--    <a href="/posts" class="button">BACK</a>-->
        <!--</div>-->

    </div>
</div